:root {
    --light-grey: #2c2c2c;
    --dark-grey: #1c1c24;
    --light-blue: #2464c4;
    --super-light-grey: grey;
    --custom-white: rgba(248, 248, 255, 0.918);
    --orange: #f4a43c;
}

.todo-body-container {
    background-color: var(--dark-grey);
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.todo-display-status-container {
    max-height: 10%;
    max-width: 100%;
    margin: 5px 10px 0 10px;
}

.scheduled-display-status {
    color: var(--orange);
}

.all-display-status {
    color: var(--super-light-grey);
}

.default-display-status {
    color: var(--light-blue);
}
