:root {
    --light-grey: #2c2c2c;
    --dark-grey: #1c1c24;
    --light-blue: #2464c4;
    --super-light-grey: grey;
    --custom-white: rgba(248, 248, 255, 0.918);
    --orange: #f4a43c;
}

.todo-navbar-container {
    background-color: var(--light-grey);
    max-width: 300px;
    display: grid;
    flex-grow: 1;
    grid-template-columns: 48.5% 48.5%;
    grid-template-rows: 5% 15% 15% 40% 5%;
    grid-template-areas:
        'search search'
        'today scheduled'
        'all-notifs all-notifs'
        'reminders reminders'
        'add-list add-list';
    padding: 50px 8px 5px 8px;
    column-gap: 3%;
    row-gap: 3%;
}

.searchbox-container {
    grid-area: search;
    width: 100%;
}

.searchbox {
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
}

.today-filter-container {
    grid-area: today;
}

.scheduled-filter-container {
    grid-area: scheduled;
}

.all-filter-container {
    grid-area: all-notifs;
}

.reminders-container {
    grid-area: reminders;
    background-color: green;
}

.add-list-button-container {
    grid-area: add-list;
    background-color: orange;
}
@media (max-width: 850px), (max-height: 700px) {
    .todo-navbar-container {
        display: none;
    }
}
