:root {
    --light-grey: #2c2c2c;
    --dark-grey: #1c1c24;
    --light-blue: #2464c4;
    --super-light-grey: grey;
    --custom-white: rgba(248, 248, 255, 0.918);
    --orange: #f4a43c;
}

.filter-information-container {
    background-color: var(--super-light-grey);
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 50px auto 50px;
    grid-template-rows: 40px auto 40px;
    grid-template-areas: 'fontawesome . count' '. . .' 'display display .';
}

.fontawesome-container {
    grid-area: fontawesome;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.count-container {
    grid-area: count;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.display-status-container {
    grid-area: display;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    padding-left: 13.5px;
}

.all-styles {
    font-size: 20px;
    color: var(--custom-white);
    background-color: var(--super-light-grey);
}

.today-styles {
    font-size: 20px;
    color: var(--custom-white);
    background-color: var(--light-blue);
}

.scheduled-styles {
    font-size: 20px;
    color: var(--custom-white);
    background-color: var(--orange);
}

.filter-information-container:hover {
    outline: none;
    background-color: var(--light-blue);
}
