:root {
    --light-grey: #2c2c2c;
    --dark-grey: #1c1c24;
    --light-blue: #2464c4;
    --super-light-grey: grey;
    --custom-white: rgba(248, 248, 255, 0.918);
    --orange: #f4a43c;
}

.item-component-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;

    padding-bottom: 5px;
    margin-bottom: 10px;
    border-bottom: 1px solid var(--custom-white);
}

input[type='checkbox'] {
    background-color: var(--dark-grey);
    border: 1px solid var(--custom-white);
    border-radius: 500%;
    width: 20px;
    height: 20px;
    outline: none;
}

.item-component-information-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#item-component-title {
    background-color: var(--dark-grey);
    color: var(--custom-white);
    width: 99%;
    border: none;
    outline: none;
}

#item-component-description {
    background-color: var(--dark-grey);
    color: var(--super-light-grey);
    width: 99%;
    border: none;
    outline: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
