:root {
    --light-grey: #2c2c2c;
    --dark-grey: #1c1c24;
    --light-blue: #2464c4;
    --super-light-grey: grey;
    --custom-white: rgba(248, 248, 255, 0.918);
    --orange: #f4a43c;
}

.todo-body-container {
    background-color: var(--dark-grey);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    padding: 30px 30px 0px 30px;
    flex-grow: 2;
}

.todo-display-status-container {
    max-height: 10%;
    max-width: 100%;
    margin-bottom: 20px;
}

.scheduled-display-status {
    color: var(--orange);
    font-size: 50px;
}

.all-display-status {
    color: var(--super-light-grey);
    font-size: 50px;
}

.default-display-status {
    color: var(--light-blue);
    font-size: 50px;
}

.todo-completed-status-container {
    width: 100%;
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border-bottom: 1px solid var(--custom-white);
    padding-bottom: 5px;
}

.todo-completed-status-value {
    color: var(--custom-white);
}

.show-completed-button {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: var(--dark-grey);
    color: var(--super-light-grey);
    outline: none;
}

.list-collection-container {
    overflow-y: scroll;
}
