:root {
    --light-grey: #2c2c2c;
    --dark-grey: #1c1c24;
    --light-blue: #2464c4;
    --super-light-grey: grey;
    --custom-white: rgba(248, 248, 255, 0.918);
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.root-container {
    border: 1px solid var(--custom-white);
    width: 80vw;
    height: 66vh;
    min-width: 300px;
    min-height: 600px;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    background-color: pink;
}

.root-navigation-container {
    min-width: 200px;
    max-width: 300px;
    background-color: purple;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    flex-grow: 1;
}

.root-body-container {
    background-color: red;
    display: flex;
    min-width: 300px;
    flex-grow: 3;
}

.todo-body-container {
    background-color: var(--dark-grey);
    flex-grow: 2;
}

@media (max-width: 850px), (max-height: 700px) {
    .root-navbar-container {
        display: none;
    }
}
