:root {
    --light-grey: #2c2c2c;
    --dark-grey: #1c1c24;
    --light-blue: #2464c4;
    --super-light-grey: grey;
    --custom-white: rgba(248, 248, 255, 0.918);
    --orange: #f4a43c;
}

.root-todolist-container {
    min-width: 300px;
    background-color: var(--dark-grey);

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-grow: 3;
}

.add-todoitem-button {
    width: 40px;
    height: 25px;
    margin-top: 5px;
    margin-right: 5px;
    outline: none;
    border: none;
    border-radius: 10%;
    background-color: var(--super-light-grey);
    color: var(--custom-white);

    align-self: flex-end;
}

.add-todoitem-button:active {
    width: 40px;
    height: 25px;
    margin-top: 5px;
    margin-right: 5px;
    outline: none;
    border: none;
    border-radius: 10%;
    background-color: var(--light-blue);
    color: var(--custom-white);

    align-self: flex-end;
}

.todolist-information-container {
    width: 100%;
    height: 70px;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.todolist-title {
    font-size: xx-large;
    background-color: var(--dark-grey);
    border: none;
    margin: none;
    outline: none;
    color: var(--light-blue);
    padding-left: 15px;
    width: 75%;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.todolist-uncompleted-item-count {
    font-size: xx-large;
    color: var(--light-blue);
    padding-right: 25px;
    width: 25%;

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.todolist-todoitem-collection-container {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: scroll;
}
